= f.label :title
= f.text_field :title, class: "form-control"

= f.label :body, 'Text'
= f.text_area :body, class: "form-control"

= render 'shared/file', f: f

%p= f.link_to_add "Add attachment", :attachments, class: "btn btn-success"

= f.submit 'Save', class: "btn btn-primary"
= link_to 'Cancel', root_path, class: "btn btn-default"
