= f.label :title
= f.text_field :title, class: "form-control"

= f.label :body, 'Text'
= f.text_area :body, class: "form-control"

= render 'shared/file', f: f

= f.submit 'Save', class: "btn btn-primary"
