.row
  .action-question
    %p=question.user.email
    - if show_action?(@question)
      = link_to 'Delete question', @question, method: :delete, data: { confirm: 'Are you sure?' }
      = link_to 'Edit', '', class: 'edit-question-link'

      = form_for @question, remote: true do |f|
        = f.label :title
        = f.text_field :title, class: "form-control"

        = f.label :body, 'Text'
        = f.text_area :body, class: "form-control"

        = f.submit 'Update', class: "btn btn-primary"

    .rate-question= render 'shared/rate', item: @question

  %b= question.title
  %p= question.body.html_safe

  .list-comment-question
    = render 'comments/list', commentable: @question

  .comment-question
    = form_for [@question, @comment], remote: :true do |f|
      = f.text_area :body, required: true, class: "form-control comment-body"
      = f.submit 'Send comment', class: "btn btn-info"
      = link_to 'Cancel', '', class: 'cancel-question-comment-link'
  - if user_signed_in?
    = link_to 'Add comment', '', class: 'add-comment-link'
