.well
  %b= @question.title

  %p=@question.body.html_safe

- if user_signed_in? && current_user.author_of?(@question)
  = link_to 'Delete question', @question, method: :delete, data: { confirm: 'Are you sure?' }

Count of answers:
= @question.answers.count

- @question.answers.each_with_index do |answer, index|
  .panel.panel-primary
    .panel-heading= "answer #{index + 1}"
    .panel-body
      = answer.body.html_safe
      - if user_signed_in? && current_user.author_of?(answer)
        = link_to 'Delete', question_answer_path(@question, answer), method: :delete, data: { confirm: 'Are you sure?' }


- @answer.errors.full_messages.each do |error|
  .alert.alert-danger= error

= form_for [@question, @answer] do |f|
  = f.label :body, 'Answer'
  = f.text_field :body
  = f.submit 'Create answer'

= link_to 'Questions', questions_path, class: 'btn btn-default'
