.well
  .question= render @question

Count of answers:
= @question.answers.count

.answers
  - @question.answers.each_with_index do |answer, index|
    = render 'answers/answer', answer: answer, index: index

= form_for [@question, @answer], remote: true do |f|
  = f.label :body, 'Answer'
  = f.text_area :body, class: "form-control new-answer-body"
  = f.submit 'Create answer'

= link_to 'Questions', questions_path, class: 'btn btn-default'
