.well
  .question= render @question

Count of answers:
= @question.answers.count

%p Attachments:
%ul
  - @question.attachments.each do |attachment|
    .attachment{id: "attachment-#{attachment.id}"}
      %li
        = link_to attachment.file.identifier, attachment.file.url
        .delete_question_file= link_to 'Delete', attachment, method: :delete, data: { confirm: 'Are you sure?' }, remote: true

.answers
  = render 'answers/list'

- if user_signed_in?
  = form_for [@question, @answer], remote: true do |f|
    = f.label :body, 'Answer'
    = f.text_area :body, class: "form-control new-answer-body"
    = render 'shared/file', f: f

    = f.submit 'Create answer'

= link_to 'Questions', questions_path, class: 'btn btn-default'
