.well.question= render @question

Count of answers:
= @question.answers.count

%p Attachments:
%ul
  - @question.attachments.each do |attachment|
    .attachment{id: "attachment-#{attachment.id}"}
      %li
        = link_to attachment.file.identifier, attachment.file.url
        - if show_action?(@question) && attachment.persisted?
          .delete_question_file= link_to 'Delete', attachment, method: :delete, data: { confirm: 'Are you sure?' }, remote: true

.answers
  = render 'answers/list'

- if can?(:create, Answer)
  = nested_form_for [@question, Answer.new], remote: true do |f|
    = f.label :body, 'Answer'
    = f.text_area :body, class: "form-control new-answer-body"
    = render 'shared/file', f: f
    %p= f.link_to_add "Add attachment", :attachments, class: "btn btn-success"

    = f.submit 'Create answer'

= link_to 'Questions', questions_path, class: 'btn btn-default'
