.answer{id: "answer-#{answer.id}" }
  .panel.panel-primary
    .panel-heading
      = answer.best ? "Best answer" : "answer"
      = answer.user.email
    .panel-body
      .row
        .col-md-2

          = render 'shared/rate', item: answer

        .col-md-10
          = answer.body.html_safe
          - if can?(:set_best, answer)
            = link_to 'Best answer', answer_set_best_path(question_id: @question, answer_id: answer), class: 'btn btn-primary', remote: true, method: :patch

          - if can?(:delete, answer)
            = link_to 'Delete', answer, method: :delete, data: { confirm: 'Are you sure?' }, remote: true
          - if can?(:update, answer)
            = link_to 'Edit', '', class: 'edit-answer-link', data: { answer_id: answer.id }


      - if answer.attachments.length > 0
        %p Attachments:
        %ul
          - answer.attachments.each do |attachment|
            .attachment{id: "attachment-#{attachment.id}"}
              %li= link_to attachment.file.identifier, attachment.file.url
              - if can?(:destroy, attachment)
                .delete_answer_file= link_to 'Delete', attachment, method: :delete, data: { confirm: 'Are you sure?' }, remote: true

      = form_for answer, remote: true, html: { id: "edit-answer-#{answer.id}"}  do |f|
        .well
          = f.label :body, 'Answer'
          = f.text_area :body, class: "form-control"
          = f.submit 'Update', class: "btn btn-primary"

    .list-comment-answer{id: "list-comment-answer-#{answer.id}" }
      = render 'comments/list', commentable: answer

    - if user_signed_in?
      = form_for [answer, Comment.new], remote: :true, html: { id: "comment-answer-#{answer.id}", class: "comment-answer"} do |f|
        = f.text_area :body, required: true, class: "form-control answer-comment-body"
        = f.submit 'Send comment', class: "btn btn-info"
        = link_to 'Cancel', '', class: 'cancel-answer-comment-link', data: { answer_id: answer.id }

      = link_to 'Add comment', '', class: 'add-answer-comment-link', data: { answer_id: answer.id }, id: "add-answer-comment-link-#{answer.id}"
